/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: cursive;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }

  

/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(157, 219, 170);
    color: black;
  }
  
  .nav-links a {
    color: black;
  }
  
  /* LOGO */
  .logo {
    font-size: 32px;
  }
  
  /* NAVBAR MENU */
  .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
  }
  
  .menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .menu li {
    padding: 5px 14px;
  }
  
  /* about */
 
  .mainFlex {
    position: relative;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .flexContainer {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: x-large;
  }
  
  .flexItem {
    max-width: 400px;
    flex: 1;
    padding: 20px;
    border: none;
    position: relative;
  }
  
  .flexItem p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Times New Roman', Times, serif;
  }
  
  #profile-img {
    width: 250px;
    height: auto;
  }
  
  #pink {
    color: rgb(224, 47, 76);
  }
  
  #arrow-container {
    position: relative;
    bottom: 0;
    left: 0;
    transform: translateX(-50%);
    animation: bounce 1s infinite alternate;
    cursor: pointer;
    height: 50px;
  }
  
  #arrow-container #arrowImage {
    width:50px;
    height: 50px;
    background-image: url('../assets/images/whitearrow.png');
    background-size: cover;
    display: inline-block;
  }
  
  .arrow-content {
    padding-left: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(224, 47, 76);
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  
  
/* Languages */
.LanguagesFlex{
  display: flex;
  justify-content:center;
  padding: 20px;
}
.Item img{
  max-width: 20vh; 
  height: auto; 
  border: none;
}

/* Projects */
#Projects {
  position: relative;
}

.projectsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.ProjectsFlex {
  display: flex;
}

.projectItem {
  display: none;
}

.projectItem img {
  max-width: 100%;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
}

#left-arrow {
  left: 10px;
}

#right-arrow {
  right: 10px;
}
